* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 960px;
    background-color: aquamarine;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.score {
    font-size: 40px;
    position: absolute;
    top:60px;
    right:200px
}

.startGame {
   position: absolute;
   top: 10px;
   right: 200px;
}

button {
    background-color: #EFEEEF;
    padding: 2px 8px;
    color: black;
    line-height: 31px;
    border-radius: 6px;
    margin-right: 6px;
    margin-left: 6px;
    border: none;
    cursor: pointer;
    font-size: 0.875rem;
}

.board {
    margin-top: 10px;
    background-color: antiquewhite;
    border: black solid 2px;
    display: grid;
    width: 90vmin;
    height: 92vmin;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.head {
    background-color: darkred;
    border: solid black 0.25vmin;
}

.snakeBody {
    border: solid black 0.25vmin;
    background-color: rgb(223, 143, 129);
}

.food {
    background-color: greenyellow;
    border: solid black 0.25vmin;
}

